@page 
@model PersonalBlog.Pages.Posts.IndexModel
<h1>PersonalBlog</h1>
    @if (!Model.Posts.Any())
    {
        <p>No articles available</p>
    }
    else
{
    @foreach (var post in Model.Posts)
    {
       <article>
           <h2><a asp-page="./Detail" asp-route-slug="@post.Slug">
               @post.Title
           </a></h2>
           <time>@post.CreatedAt.ToString("yyyy-MM-dd")</time>
       </article>

    }

}